// navbar
nav {
	.navbar-brand {
		color: $white-color;
		font-family: raleway-bold;
		font-weight: bold;
		font-size: 2rem;
		letter-spacing: 1.5px;
		span {
			color: $yellow-color;
			font-size: 2rem;
		}
	}
	ul {
		li {
			a {
				color: $white-color;
				text-transform: capitalize;
				font-weight: 500;
				font-size: 15px;
				padding: .8rem 1.2rem !important;
				transition: $transition; 
				&:hover {
					color: $yellow-color;
				}
			}
		}
	}
	button {
		text-transform: capitalize;
		color: $white-color;
		background: transparent;
		padding: 9px 21px;
		border-radius: 4px;
		letter-spacing: .5px;
		transition: $transition;
		font-family: poppins;
		border: 2px solid $yellow-color;
		font-size: 13px;
		&:hover {
			color: $body-color;
			background: $yellow-color;
		}
	}
}
// navbar-scroll-effect
.bg-none {
	transition: all .5s;}
.bg-none.scrolled{
	background-color: rgba(0, 0, 0, 0.8);
	// box-shadow: 0 0px 30px 0 rgba(0, 0, 0, .5);
}
.navbar.scrolled {
	// height: 65px;
}
// hero
#hero {
	width: 100%;
    height: 100vh;
    // position: relative;
    background-size: cover;
    // background: url(../img/hero-bg.jpg) fixed center;
	background: linear-gradient(to top, rgba(0,0,0, .5), rgba(0,0,0, 1)), url(../img/hero-bg.jpg) fixed center;
	.row {
		// display: flex;
		text-align: center;
		position: relative !important;
		h1 {
			font-size: 56px;
			font-weight: 900;
			color: $white-color;
			font-family: poppins-bold;
			line-height: 2.5rem;
			transform: translateY(13.5rem);
		}
		h2 {
			font-size: 56px;
			font-weight: 900;
			color: $white-color;
			font-family: poppins-bold;
			transform: translateY(13.6rem);
			span {
				color: $yellow-color;
			}
		}
		p { 
			font-weight: 600;
			letter-spacing: 2px;
			font-family: raleway;
			font-size: calc(1.25rem);
			transform: translateY(13.6rem);
			color: rgba(255, 255, 255, 0.9);
		}
		.col-lg-2, .col-lg-4 {
			padding: 3.5rem 0;
			font-size: 1.4rem;
			font-weight: 700;
			margin: 1.375rem;
			border: 1px solid $gray-color;
			color: $white-color;
			transform: translateY(15rem);
			cursor: pointer;
			transition: $transition;
			&:hover {
				color: $yellow-color;
				border: 1px solid $yellow-color;
			}
			i {
				font-size: 2rem;
				line-height: 3rem;
				color: $yellow-color;
			}
		} 
	}
}
// about
#about {
	margin-top: $section-margin-top;
	.container {
		.col-lg-6 {
			h2 {
				font-weight: 900;
				font-size: 1.8rem;
				line-height:  2.1rem;	
				font-family: poppins-bold;
			}
			p {
				font-family: poppins;
				font-size: 14px;
				line-height: 25px;
				padding-top: .5rem !important;
				color: $gray-color;
				font-weight: 400;
			}
			li {
				list-style: none;
				padding-bottom: .5rem;
				font-size: 1.05rem;
				font-weight: 400;
				color: #605d5d;
				line-height: 1.3rem;
				i {
					color: $yellow-color;
					padding-right: .3rem;
				}
			}
			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel	//////////////////////////////////////////////////////////////////////////////////////////////////
	// carousel //////////////////////////////////////////////////////////////////////////////////////////////////
	.slider {
		height: 250px;
		margin: auto;
		position: relative;
		width: 80%;
		display: grid;
		place-items: center;
		overflow: hidden;
		&::before,
		&::after {
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255, 0) 100%);
			content: '';
			height: 100%;
			position: absolute;
			width: 15%;
			z-index: 2;
		}
		&::before {
			left: 0;
			top: 0;
		}
		&::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}
		.slide-track {
			display: flex;
			width: calc(250px * 18);
			animation: carousel 30s linear infinite;
		}
		.slide {
			cursor: pointer;
			height: 200px;
			width: 250px;
			display: flex;
			align-items: center;
			padding: 15px;
			perspective: 100px;
		}
		img {
			width: 50%;
			filter: grayscale(100%);
			transition: $transition;
			&:hover {
				filter: grayscale(0%);
			}
		}
	}
	// second-about
	// second-about
	.second-about {
		font-family: raleway-bold;
		li {
			margin-bottom: 1.8rem;
		}
		i {
			font-size: 38px;
			float: left;
		}
		h6 {
			font-size: 1.4rem;
			line-height: 10px;
			color: $dark-gray;
			margin: 5px 0 10px 60px;
		}
		p {
			// line-height: 3px !important;
			margin-left: 60px;
			color: $gray-color;
			font-size: 15px;
		}
		button {
			text-transform: capitalize;
			color: $body-color;
			background: transparent;
			padding: 9px 25px;
			border-radius: 4px;
			letter-spacing: .5px;
			transition: $transition;
			font-family: poppins;
			border: 2px solid $yellow-color;
			font-size: 13px;
			&:hover {
				color: $white-color;
				background: $yellow-color;
			}
		}
	}
}
// services
#services {
	// margin-top: 8rem;
	margin-top: $section-margin-top; //top-right-bottom-left
	.col-lg-4 {
		text-align: center;
    	border: 1px solid #ebebeb;
    	padding: 80px 20px;
    	width: 417px;
    	margin: .7rem;
    	transition: $transition;
    	cursor: pointer;
    	background: #fff;
    	&:hover {
    		box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, .1);
    		transform: translateY(-8px);
    	}
	i {
		font-size: 1.5rem;
		background: $yellow-color;
		padding: 1.3rem 1.5rem;
		border-radius: 4px;
	}
	h4 {
		font-weight: 700;
		line-height: 3rem;
    	margin-top: 8px;
   	 	font-size: 24px;
   	 	font-family: raleway-medium;
   	 	font-weight: 900;
   	 	letter-spacing: 1px;
   	 	a {
   	 	transition: $transition;
   	 	color: $black-color;
   	 	text-decoration: none;  
   	 	&:hover {
   	 		color: $yellow-color;
   	 		} 	 		
   	 	}
	}
	p {
		font-family: raleway-medium;
		color: #848484;
		line-height: 24px;
    	font-size: 14px;
    	margin-bottom: 0;
    	&:hover {
   		 	transition: $transition;
    		}
		}
	}
}
// action
// action
#action {
	margin-top: $section-margin-top;
	background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cta-bg.jpg) fixed center;
	// background: url(../img/cta-bg.jpg) fixed center;
	height: 35vh;
	text-align: center;
	display: flex;
	align-items: center;
	color: $white-color;
	font-family: raleway-medium;
	h2 {
		letter-spacing: 2px;
		font-size: 28px;
    	font-weight: 700;
		text-transform: capitalize;
	}
	p {
		font-size: 15px;
		font-weight: 500;
		letter-spacing: .5px;
		margin: 0rem 0 1.5rem 0;
	}
	button {
		text-transform: capitalize;
		color: $white-color;
		background: transparent;
		padding: 9px 30px;
		border-radius: 4px;
		letter-spacing: .5px;
		transition: $transition;
		font-weight: 500;
		border: 2px solid $white-color;
		font-size: 15px;
		&:hover {
			color: $body-color;
			border: 2px solid $yellow-color;
			background: $yellow-color;
		}
	}
}
// products
#products {
	margin-top: $section-margin-top;
	.container {
		h3 {
			text-align: center;
			margin-bottom: 2rem;
			.active {
				background: $yellow-color;
				color: $black-color;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 14px;
				padding: .4rem .85rem;
				color: $body-color;
				font-family: poppins-medium;
				border-radius: 4px;
				// background: #fff8ed;
				background: #fdf9ff;
				transition: $transition;
				&:hover {
					background: $yellow-color;
					color: $black-color;
				}
			}
		}
		.col-lg-4 {
			.one {
				margin-bottom: 2rem;
			}
			.five {
				margin-top: -8.85rem;
			}
			.six {
				margin-top: -11.7rem;
			}
			.seven {
				margin-top: 2rem;
			}
			.eight {
				margin-top: -6.6rem;
			}
			.nine {
				margin-top: -12.2rem;
			}
		}
	}
	.second-container {
		margin-top: $section-margin-top;
		img {
			height: 450px !important;
			width: 550px !important;
		}
		.col-lg-7 {
			padding: 0 3.5rem;
		}
		h2 {
			font-weight: 900;
			font-size: 1.8rem;
			line-height:  2.1rem;	
			font-family: poppins-bold;
		}
		p {
			font-family: poppins;
			font-size: 14px;
			line-height: 25px;
			padding-top: .5rem !important;
			color: $gray-color;
			font-weight: 400;
		}
		.second-row {
			margin-top: 1.5rem !important;
		i {
			float: left;
			font-size: 38px;
			margin: 0 .6rem 0 0; //top right bottom left
			color: $yellow-color;
		}
		h4 {
			font-size: 2rem;
			font-family: poppins-bold;
			color: $black-color;
			line-height: 2rem;
			}
		strong {
			font-size: 14px;
			font-family: poppins;
			}
		.col-lg-6 {
			margin-bottom: 4rem;
		}
		p2 {
			font-family: poppins;
			font-weight: 300;
			font-size: 13px;
			color: $gray-color;
			}
	    }
	 }
 }
 // team
 #testimonials {
 	margin-top: $section-margin-top;
 	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(../img/testimonials-bg.jpg) fixed center;
 	height: 50vh;
 	background-size: cover;
 	text-align: center;
 	display: flex;
 	// justify-content: center;
 	align-items: center;
 	.carousel {
 		img {
 			width: 110px;
 			border-radius: 100px;
 			margin-bottom: .5rem;
 			// border: 6px solid rgba(0, 0, 0, .2);
 			border: 6px solid rgba(124, 124, 124, .35);
 		}
 		h3 {
 			color: $white-color;
 			text-transform: capitalize;
 			font-size: 22px;
 			font-family: raleway-bold;
 			// letter-spacing: 1px;
 		}
 		h4 {
 			color: $gray-color;
 			font-size: 14px;
 			// letter-spacing: .5px;
 			font-family: raleway;
 		}
 		p {
 			font-family: raleway-medium;
 			color: $white-color;
 			font-style: italic;
 			letter-spacing: .5px;
 			font-size: .98rem;
 			line-height: 1.8rem;
 			// font-weight: 700;
 			padding: 0 20rem !important;
 			.fa-quote-left {
 				margin-right: 4px;
 				font-size: 1rem;
 				color: $gray-color;
 			}
 			.fa-quote-right {
 				margin-left: 4px;
 				font-size: 1rem;
 				// padding-top: 2rem;
 				color: $gray-color;
 			}
 		}
 	}
 }
 // team
 #team {
 	margin-top: $section-margin-top;
 	.col-lg-3 {
 		margin-top: 1.6rem;
 		&:hover .icons {
 			opacity: 1;
 			// top: 66%;
 		}
 		.card {
 			position: relative;
 			border-radius: 5px;
 			border: none;
 			box-shadow: 0px 5px 10px 0px rgba(0,0,0, .1);
 		}
 		img {
 			width: 100%;
 			max-width: 100%;
 			border-top-right-radius: 5px;
 			border-top-left-radius: 5px;
 		}
 		h3 {
 			font-size: 18px;
 			color: $body-color;
 			font-family: raleway-bold;
 		}
 		h4 {
 			color: $gray-color;
 			font-size: 13px;
 			font-family: raleway;
 			letter-spacing: .3px;
 		}
 		.icons {
 			display: inline-block;
 			position: absolute;
 			opacity: 0;
 			top: 66%;
 			left: 20.5%;
 			transition: $transition;
 			i {
 				cursor: pointer;
 				color: $body-color;
 				font-size: 1.1rem;
 				padding: 5px 8px;
 				margin: 0 5.5px;
 				border-radius: 3px;
 				transition: $transition;
 				background: rgba(255, 255, 255, 0.8);
 				&:hover {
 					background: $yellow-color;
 					color: $black-color;
 				}
 			}
 		}
 	}
 }
 // contact 
 #contact {
 	margin-top: $section-margin-top;
 	.col-lg-12 {
 		margin-top: 1.6rem;
 	}
 	.second-row {
 		margin-top: 3.5rem;
 		text-align: left;
 		i {
 			font-size: 20px;
    		background: #ffc451;
    		color: #151515;
    		float: left;
    		width: 44px;
    		height: 44px;
    		display: flex;
    		margin-right: 1rem;
    		margin-top: .2rem;
    		justify-content: center;
    		align-items: center;
    		border-radius: 4px;
    		transition: all 0.3s ease-in-out;
 		}
 		li {
 			list-style: none;
 			// line-height: 2rem;
 			margin-bottom: 2rem;
 		}
 		h4 {
 			text-transform: capitalize;
 			font-family: raleway;
 			font-size:	 22px;
 			font-weight: 600;
 			letter-spacing: 1px;
 			color: $black-color;
 		}
 		p {
 			font-size: 14px;
 			color: $gray-color;
 			font-family: poppins;
 			font-weight: 500;
 		}
 		form {
 			input, textarea {
 				// text-transform: capitalize;
 				font-family: opensans;
 				font-size: 14px;
 				border-radius: 5px;
 				margin-bottom: 1.5rem;
 				outline: none;
 				border: 1px solid #ced4da;
 				transition: $transition;
 				width: 100%;
 				// padding: 0 15.3rem 0 .8rem;
 				padding: .6rem .6rem;
				&:focus {
 					border: 1px solid $yellow-color;
 				} 								 				
 			}
 			.first-input {
 				height: 44px;
 				width: 48.718%;
 				margin-right: 1.1rem;
 			}
 			.second-input {
 				height: 44px;
 				width: 48.718%;
 			}
 			.third-input {
 				height: 44px;
 				width: 100%;
 			}
 			.fourth-input {
 				height: 44px;
 				width: 100%;
 			}
 			.col-lg-12 {
 				text-align: center;
 				margin-top: -.3rem;
 				button {
 					color: $black-color;
 					background: $yellow-color;
 					border: none;
 					text-transform: capitalize;
 					font-family: poppins;
 					letter-spacing: .3px;
 					border-radius: 4px;
 					padding: .6rem 1.2rem;
 					transition: $transition;
 					&:hover {
 						background: #ffce75 !important;
 					}
 				}
 			}
 		}
 	}
 }
 // footer 
 #footer {
 	background: #141414;
 	color: $white-color;
 	font-family: raleway;
 	padding: 2.5rem 0;
 	margin-top: $section-margin-top;
 	.col-lg-4 {
 		text-align: left;
 	}
 	.footer-title {
 		color: $white-color;
 		font-size: 1.8rem;
 		font-family: raleway-bold;
 		letter-spacing: 1.5px;
 		span {
 			color: $yellow-color;
 			font-size: 2rem;
 		}
 	}
 	li {
 		list-style: none;
 	}
 	.address {
 		margin-top: 1.1rem;
 		font-size: 14px;
 		letter-spacing: 1px;
 		padding-right: 10rem;
 		line-height: 25px;
 	}
 	.second-li {
 		margin-top: 2rem;
 		line-height: 6px;
 	}
 	p {
 		font-size: 14px;
 		letter-spacing: 1px;
 	}
 	.third-li {
 		margin-top: 2rem;
 		line-height: normal !important;
 		i {
 			background: #292929;
 			border-radius: 4px;
 			margin-right: 4px;
 			padding: 8px 8px;
 			font-size: 16px;
 			height: 36px;
 			width: 36px;
 			cursor: pointer;
 			transition: $transition;
 			&:hover {
 				background: $yellow-color;
 				color: #141414;
 			}
	 	}
	}
 	span {
 		text-transform: capitalize;
 		font-family: raleway-bold;
 		font-size: 14px;
 	}
 	h2 {
 		font-size: 18px;
 		font-family: raleway-medium;
 		// font-weight: 500;
 		text-transform: capitalize;
 	}
 	li {
 		// text-transform: capitalize;
 		line-height: 2.5rem;
 		a {
 			font-family: opensans;
 			font-size: 14px;
 			font-weight: 500;
 			text-decoration: none;
 			color: $white-color;
 			transition: $transition;
 			&:hover {
 				color: $yellow-color;
 			}
 		}
 		span {
 			font-family: poppins;
 			color: $yellow-color;
 		}
 	}
 	.col-lg-4 {
 		position: relative;
 		p {
 			margin: 1.6rem 0;
 			font-family: opensans;
 			font-size: 13px;
 		}
 		input {
 			font-family: opensans;
 			font-size: 14px;
 			border-radius: 5px;
 			margin-bottom: 1.5rem;
 			outline: none;
 			border: 1px solid #ced4da;
 			transition: $transition;
 			width: 100%;
 			// padding: 0 15.3rem 0 .8rem;
 			padding: .6rem .6rem;
 			height: 44px;
 		}
 		button {
 			font-family: raleway;
 			position: absolute;
 			top: 20;
 			right: 2.6%;
 			height: 44px;
 			border: none;
 			background: $yellow-color;
 			border-top-right-radius: 5px;
 			border-bottom-right-radius: 5px;
 			color: $black-color;
 			width: 25%;
 			transition: $transition;
 			&:hover {
 				background: #ffce75 !important;
 			}
 		}
 	}
 }
 // last-footer
header {
	border-top: 1px solid $yellow-color;
	text-align: center !important;
	color: $white-color;
	background: #000;
	padding: 2rem 0 .5rem 0;
	letter-spacing: 1px;
	font-size: 13px;
	h3 {
		font-family: opensans;
		font-size: 13px;
	}
	span {
		color: $yellow-color;
		font-family: raleway;
	}		
}