// colors
$white-color : #fff !important;
$black-color : #000 !important;
$yellow-color : #ffc451 !important;
$gray-color : #848484 !important;
$dark-gray : #605d5d !important;
$body-color : #444444 !important;
//settings
$transition : all .3s ease-in !important;
$section-margin-top : 8rem !important;
